*{
    margin: 0;
    padding: 0;
}
/* Background */
.img-principal{
    background-image: url("../imagenes/paisaje-1800x900.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 1;
    opacity: 0.8;
}
/* Contenedor Principal */
.contenedor{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: rgba(245, 245, 245, 0.5);
    width: 350px;
    height: 450px;
    border-radius: 40px;
}
/* Icono grande.. Contenedor N.1 */
.icon{
    background-color: rgba(81, 81, 81, 0.7);
    color: rgb(255, 255, 255, 0.7);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -90px;
}
.box-user{
    color: rgb(255, 255, 255);
    font-size: 90px;
    display: flex;
    justify-content: center;
}
/* Titulo "Iniciar sesión" */
.title{
    padding-top: 70px;
    position: absolute;
    font-size: 33px;
    color: rgb(72, 72, 72);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Contenedor N.2 */
.input-box{
    margin: 0px 20px;
    height: auto;
}
/* inputs de usuario y contraseña */
input[type="text"], [type="password"]{
    border: 0;
    background-color: transparent;
    font-size: 1.5em;
    width: 280px;
    color: rgb(86, 86, 86);
    outline: none;
}
/* input[type="text"]:active{
    outline: none;
} */

/* iconos pequeños */
.icon-m{
    color: rgb(86, 86, 86);
    margin-bottom: 32px;
    font-size: 15px;
    border-bottom: 3px solid rgba(86, 86, 86, 0.7);
}
.icon-size{
    font-size: 20px;
}
/* texto "olvidaste la contraseña" */
.text-contra{
    font-size: 23px;
    color: rgb(0, 116, 116);
    margin-bottom: 40px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-contra:hover{
    color: rgb(0, 67, 67);
}
/* boton de "iniciar sesion" */
button{
    width: 300px;
    height: 60px;
    font-size: 15px;
    border-radius: 15px;
    background-color: rgb(55, 55, 55);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(79, 79, 79);
}
/* Media quary, obviamente... */
@media only screen and (max-width: 768px){
    .img-principal{
        background-image: url("../imagenes/paisaje-770x900.jpg");
    }
    /* Cambio de tamaño al contenedor */
    .form{
        width: 300px;
        height: 380px;
    }
    /* Fondo del icono grande */
    .icon{
        width: 120px;
        height: 120px;
        top: -70px;
    }
    /* Icono grande */
    .box-user{
        font-size: 70px;
    }
    /* Titulo "Iniciar sesion" */
    .title{
        font-size: 28px;
    }
    /* input "Tamaño de placeholder */
    input[type="text"], [type="password"]{
        width: 220px;
    }
    /* Texto de icono */
    .icon-m{
        margin-bottom: 35px;
        font-size: 12px;
    }
    /* Icono pequeño */
    .icon-size{
        font-size: 17px;
    }
    .text-contra{
        font-size: 20px;
        margin-bottom: 40px;
    }
    button{
        width: 260px;
        font-size: 15px;
    }
}