*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main-box{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
}
.box-subtotal{
    grid-area: box-subtotal;
}
.subtotal{
    font-size: 1.2em;
}
.text-cop{
    font-weight: 600;
}
.num-subtotal{
    font-size: 2em;
    font-weight: 600;
}
.btn-pago-productos{
    grid-area: btn-pago-producto;
    background-color: rgb(247, 231, 8);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    margin-bottom: 40px;
    font-weight: 600;
}
.box-img-producto{
    grid-area: box-img-producto;
    width: 100%;
}
.img-producto{
    width: 100%;
}
.info-producto{
    grid-area: info-producto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4em;
    padding-left: 70px;
    margin-bottom: 20px;
}
.text3{
    font-weight: 600;
}
.text4{
    font-weight: 600;
}
.text4-1{
    font-size: 2em;
}
.num-select{
    display: grid;
    grid-template: "num-restar num-view num-sumar"/
                    1fr         1fr     1fr
                    ;
    border-radius: 17px;
}
.num-restar, .num-sumar{
    background-color: rgb(239, 239, 239);
    cursor: pointer;
}
.num-restar, .num-sumar, .num-view{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    font-weight: 600;
}
.num-restar{
     border: 1px solid rgb(130, 130, 130);
     border-bottom-left-radius: 15px;
     border-top-left-radius: 15px;
}
.num-view{
    border-top: 1px solid rgb(130, 130, 130);
    border-bottom: 1px solid rgb(130, 130, 130);
}
.num-sumar{
    border: 1px solid rgb(130, 130, 130);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.btn-elimiar{
    grid-area: btn-eliminar;
    width: 230px;
    height: 65px;
    margin-left: 70px;
    border-radius: 10px;
    font-size: 1.4em;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    background-color: white;
    border: 1px solid rgb(197, 197, 197);
}
.btn-save-later{
    grid-area: btn-save-later;
    width: 320px;
    height: 62px;
    margin: 10px 0 0 70px;
    border-radius: 10px;
    font-size: 1.4em;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    background-color: white;
    border: 1px solid rgb(197, 197, 197);
}
@media only screen and (min-width: 430px) and (max-width: 834px){
    .main-box{
        height: 700px;
        display: grid;
        grid-template: "box-subtotal    box-subtotal" 50px
                        "btn-pago-producto btn-pago-producto" 110px
                        "box-img-producto  info-producto" 375px
                        "btn-cantidad  btn-eliminar"70px
                        "empty-left    btn-save-later"70px/
                        5fr             8fr
                        ;
    }
}