*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagenes/mountains\ and\ sky\ dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: default;
}
/* cajas principales */
.contenedor{
    display: flex;
    justify-content: center;
}
.box-1{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: auto;
    height: 512px;
    box-shadow: 0px 6px 5px rgb(68, 227, 255);
    color: rgb(0, 0, 0);
}
/* titulo */
h1{
    width: auto;
    height: 60px;
    color: white;
    font-size: 2.5em;
    margin: 20px 0px 30px 20px;
}
/* cajas de barras */
.boxs{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100px;
    margin: 0px 20px;
    font-size: 1.3em;
}
.box-flexdir1{
    height: 10%;
    background-color: rgb(83, 255, 255);
}
.box-flexdir2{
    height: 20%;
    background-color: rgb(181, 255, 69);
}
.box-flexdir3{
    height: 30%;
    background-color: rgb(44, 255, 164);
}
.box-flexdir4{
    height: 40%;
    background-color: rgb(255, 189, 67);
}
.box-flexdir5{
    height: 50%;
    background-color: rgb(59, 59, 255);
}
.box-flexdir6{
    height: 60%;
    background-color: aquamarine;
}
.box-flexdir7{
    height: 70%;
    background-color: rgb(255, 58, 58);
}
.box-flexdir8{
    height: 80%;
    background-color: rgb(124, 255, 124);
}
/* barra vertical de numeros */
.box-numeros{
    height: 100%;
    width: 40px;
}
.numero{
    display: flex;
    justify-content: center;
    height: 50px;
    width: auto;
    color: white;
    border-top: 1px solid rgb(255, 255, 255);
}