*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif;
}
.cont-1{
    display: flex;
    justify-content: center;
}
nav{
    width: 96vw;
    height: 10vh;
}
a{
    margin: 0 15px;
    text-decoration: none;
    color: black;
}
.line-buttom{
    border-bottom: 3px solid transparent;
    display: flex;
    align-items: center;
    height: 50px;
    width: auto;
    cursor: pointer;
}
.line-buttom:hover{
    border-bottom: 3px solid black;
}
.cont-prin{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-nike{
    height: 40px;
}
.cont-icons-bar{
    display: flex;
    align-items: center;
}
.cont-search{
    right: 150px;
    position: absolute;
    height: 50px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-search{
    position: absolute;
    height: 45px;
    width: 215px;
    border-radius: 25px;
    border: none;
    background-color: rgba(239, 239, 239, 0.899);
    font-size: 1.4em;
}
.icon{
    font-size: 1.8em;
}
.icon1{
    position: relative;
    top: 0px;
    right: 80px;
    font-size: 1.6em;
    z-index: 9; 
}
.icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    margin: 0 6px;
    cursor: pointer;
}
.icon-circle:hover{
    background-color: rgb(192, 192, 192);
}
input[type="search"]{
    padding-left: 60px;
    border: none;
    font-weight: 600;
}
input[type="search"]:hover{
    background-color: rgb(219, 219, 219);
}
.cont-bar{
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-weight: 600;
}
.main-img-box{
    width: 100%;
    height: 55vh;
}
.article-box{
    width: 100%;        
    display: grid;
    margin-top: 8vh;
    gap: 10.5vh;
    grid-template: "empty-izq article-1 article-2 article-3 empty-der" 42vh
                   "empty-izq article-4 article-5 article-6 empty-der" 42vh/
                    1fr       27vw     27vw     27vw     1fr;
}
.article-1{
    grid-area: article-1;
    /* background-color: blueviolet; */
}
.article-2{
    grid-area: article-2;
    /* background-color: blueviolet; */
}
.article-3{
    grid-area: article-3;
    /* background-color: blueviolet; */
}
.article-4{
    grid-area: article-4;
    /* background-color: blueviolet; */
}
.article-5{
    grid-area: article-5;
    /* background-color: blueviolet; */
}
.article-6{
    grid-area: article-6;
    /* background-color: blueviolet; */
}
.img-article{
    background-color: rgb(160, 160, 160);
    width: 25vw;
    height: 29vh;
    background-size: cover;
}
.text-cont{
    color: black;
    width: 20vw;
    font-size: 2.3vh;
    line-height: 3.2vh;
    padding: .8vh 1vw;
}
@media only screen and (max-width: 1500px){
    .img-nike{
        height: 30px;
    }
    .cont-bar{
        font-size: 1em;
    }
    .line-buttom{
        height: 40px;
        width: auto;
    }
    .bar-search{
        height: 35px;
        width: 165px;
        font-size: 1em;
    }
    input[type="search"]{
        padding-left: 45px;
    }
    .icon1{
        right: 60px;
        top: 1px;
        font-size: 1.3em;
    }
    .icon{
        font-size: 1.6em;
    }
    .cont-search{
        right: 120px;
        width: 210px;
    }
    .icon-circle{
        height: 40px;
        width: 40px;
        margin: 0 4px;
    }
    .article-box{
        gap: 5vh;
        grid-template: "empty-izq article-1 article-2 empty-der" 50vh
                       "empty-izq article-3 article-4 empty-der" 50vh
                       "empty-izq article-5 article-6 empty-der" 50vh/
                        1fr       27vw     27vw     1fr;
    }
}
@media only screen and (max-width: 970px){
    .img-article{
        width: 58vw;
        height: 25vh;
    }
    .text-cont{
        color: black;
        width: 58vw;
        font-size: 2.3vh;
        line-height: 3.2vh;
        padding: .8vh 1vw;
    }
    .article-box{
        gap: .1vw;
        grid-template: "empty-izq article-1 empty-der" 50vh
                       "empty-izq article-2 empty-der" 50vh
                       "empty-izq article-3 empty-der" 50vh
                       "empty-izq article-4 empty-der" 50vh
                       "empty-izq article-5 empty-der" 50vh
                       "empty-izq article-6 empty-der" 50vh/
                        1fr       57vw     1fr;
    }
}