*{
    margin: 0px;
    padding: 0px;
}
.menu{ 
    display: flex;
    justify-content: right;
    color: black;
    height: 70px;
    box-shadow: black 0px 5px 7px -5px;
    margin: 0px 100px;
    background-color: white;
}
.menu1{
    display: flex;
    justify-content: right;
    align-items: center;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin: 20px;
}
.item:hover{
    color: yellow;
    cursor: pointer;
}
.icon{
  display: flex;
  color: aqua;
}
img{
  height: 65px;
}
@media only screen and (max-width: 800px) {
    .menu{
      margin: 0px;
      padding: 0px;
      display: block;
      box-shadow: none;
    }
    .menu1{
      display: block;
    }
    .item{
      box-shadow: 0px 3px 8px 0px;
      height: 40px;
      cursor: pointer;
      background-color: grey;
    }
    .img{
        height: 80px;
        background-color: black;
    }
    .icon{
      display: flex;
      align-items: center;
      padding-left: 20px;
      background-color: black;
      height: 60px;
    }
    .menu-visible{
      display: block;
    }
    .menu-hidden{
      display: none;
    }
}