*{
    padding: 0;
    margin: 0;
}
.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: 80px;
    box-shadow: black 0 -10px 15px 0;
    z-index: 9999;
    /* 
    primer valor: desplaza hacia la derecha
    segundo valor: hacia abajo
    tercer valor: difuminado
    cuarto valor: expancion
     */
}
.menu-opciones{
    display: flex;
    align-items: center;
    padding: 0 30px;
}
button{
    margin: 0 15px;
    font-size: 1em;
}
.inicio-btn{
    width: 80px;
    height: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: 600;
}
.explorar-btn{
    border: none;
    background-color: transparent;
    font-weight: 600;
}
.crear-btn{
    border: none;
    background-color: transparent;
    font-weight: 600;
}
.barra-busqueda{
    display: flex;
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
}
input{
    width: 100%;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: rgb(233,233,233);
    font-size: 1em;
}
.icono-lupa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 45px;
    background-color: rgb(233,233,233);
    border-radius: 25px 0 0 25px;
}
.icono-lupa:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 25px 0 0 25px;
}
.icon-container{
    margin: 0 15px;
    color: rgb(95, 95, 95);
}
.icon-container-2{
    margin: 0 20px 0 5px;
}
.icon-row{
    font-size: 15px;
}
.icons{
    display: flex;
    align-items: center;
}
i{
    font-size: 25px;
}
.icono-loup{
    font-size: 18px;
}


div>img{
    border-radius: 17px;
}

.main-boxes{
    grid-area: main-boxes;
    display: grid;
    width: 100%;
    /* margin-top: 80px;  para dejarla mas abajo */  
    margin-top: 100px;
    grid-gap: 16px;
    grid-template: "empty-left column-1 column-2 column-3 column-4 column-5 column-6 column-7 empty-right" /
                    1fr         236px   236px     236px   236px    236px    236px    236px    1fr;

}
.column-1{
    grid-area: column-1;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col1"  auto
                    "img2-col1" auto
                    "img3-col1" auto
                    "img4-col1" auto
                    "img5-col1" auto
                    "img6-col1" auto 
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-2{
    grid-area: column-2;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col2"  auto
                    "img2-col2" auto
                    "img3-col2" auto
                    "img4-col2" auto
                    "img5-col2" auto
                    "img6-co12" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-3{
    grid-area: column-3;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col3"  auto
                    "img2-col3" auto 
                    "img3-col3" auto 
                    "img4-col3" auto 
                    "img5-col3" auto 
                    "img6-col3" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-4{
    grid-area: column-4;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col4"  auto
                    "img2-col4" auto 
                    "img3-col4" auto 
                    "img4-col4" auto 
                    "img5-col4" auto 
                    "img6-col4" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-5{
    grid-area: column-5;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col5"  auto
                    "img2-col5" auto
                    "img3-col5" auto
                    "img4-col5" auto
                    "img5-col5" auto
                    "img6-col5" auto
                    "empty-buttom" 1fr/  
                    1fr;
}
.column-6{
    grid-area: column-6;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col6"  auto
                    "img2-col6" auto
                    "img3-col6" auto
                    "img4-col6" auto
                    "img5-col6" auto
                    "img6-col6" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-7{
    grid-area: column-7;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col7"  auto
                    "img2-col7" auto
                    "img3-col7" auto
                    "img4-col7" auto
                    "img5-col7" auto
                    "img6-col7" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.nav-menu{
    margin-top: 0;
}
.img1-col1, .img2-col1, .img3-col1, .img4-col1, .img5-col1, .img6-col1, .img1-col2, .img2-col2, .img3-col2, .img4-col2, .img5-col2, .img6-col2, .img1-col3, .img2-col3, .img3-col3, .img4-col3, .img5-col3, .img6-col3, .img1-col4, .img2-col4, .img3-col4, .img4-col4, .img5-col4, .img6-col4, .img1-col5, .img2-col5, .img3-col5, .img4-col5, .img5-col5, .img6-col5, .img1-col6, .img2-col6, .img3-col6, .img4-col6, .img5-col6, .img6-col6, .img1-col7, .img2-col7, .img3-col7, .img4-col7, .img5-col7, .img6-col7{
    height: auto;
    position: relative;
    z-index: 5;
    cursor: pointer;
}
.imagen-relative{
    z-index: 4;
    transition: filter 0.0s;
}
.img1-col1:hover .imagen-relative, .img2-col1:hover .imagen-relative, .img3-col1:hover .imagen-relative, .img4-col1:hover .imagen-relative, .img5-col1:hover .imagen-relative, .img6-col1:hover .imagen-relative, .img1-col2:hover .imagen-relative, .img2-col2:hover .imagen-relative, .img3-col2:hover .imagen-relative, .img4-col2:hover .imagen-relative, .img5-col2:hover .imagen-relative, .img6-col2:hover .imagen-relative, .img1-col3:hover .imagen-relative, .img2-col3:hover .imagen-relative, .img3-col3:hover .imagen-relative, .img4-col3:hover .imagen-relative, .img5-col3:hover .imagen-relative, .img6-col3:hover .imagen-relative, .img1-col4:hover .imagen-relative, .img2-col4:hover .imagen-relative, .img3-col4:hover .imagen-relative, .img4-col4:hover .imagen-relative, .img5-col4:hover .imagen-relative, .img6-col4:hover .imagen-relative, .img1-col5:hover .imagen-relative, .img2-col5:hover .imagen-relative, .img3-col5:hover .imagen-relative, .img4-col5:hover .imagen-relative, .img5-col5:hover .imagen-relative, .img6-col5:hover .imagen-relative, .img1-col6:hover .imagen-relative, .img2-col6:hover .imagen-relative, .img3-col6:hover .imagen-relative, .img4-col6:hover .imagen-relative, .img5-col6:hover .imagen-relative, .img6-col6:hover .imagen-relative, .img1-col7:hover .imagen-relative, .img2-col7:hover .imagen-relative, .img3-col7:hover .imagen-relative, .img4-col7:hover .imagen-relative, .img5-col7:hover .imagen-relative, .img6-col7:hover .imagen-relative{
    filter: brightness(0.5);
}
/* relleno del cuadro de cada imagen */
/* lado de arriba */
.cuadro-relleno{
    width: 236px;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    top: 0;
    position: absolute;
    z-index: 100;
}
.img1-col1:hover .cuadro-relleno, .img2-col1:hover .cuadro-relleno, .img3-col1:hover .cuadro-relleno, .img4-col1:hover .cuadro-relleno, .img5-col1:hover .cuadro-relleno, .img6-col1:hover .cuadro-relleno,.img1-col2:hover .cuadro-relleno, .img2-col2:hover .cuadro-relleno, .img3-col2:hover .cuadro-relleno, .img4-col2:hover .cuadro-relleno, .img5-col2:hover .cuadro-relleno, .img6-col2:hover .cuadro-relleno, .img1-col3:hover .cuadro-relleno, .img2-col3:hover .cuadro-relleno, .img3-col3:hover .cuadro-relleno, .img4-col3:hover .cuadro-relleno, .img5-col3:hover .cuadro-relleno, .img6-col3:hover .cuadro-relleno, .img1-col4:hover .cuadro-relleno, .img2-col4:hover .cuadro-relleno, .img3-col4:hover .cuadro-relleno, .img4-col4:hover .cuadro-relleno, .img5-col4:hover .cuadro-relleno, .img6-col4:hover .cuadro-relleno, .img1-col5:hover .cuadro-relleno, .img2-col5:hover .cuadro-relleno, .img3-col5:hover .cuadro-relleno, .img4-col5:hover .cuadro-relleno, .img5-col5:hover .cuadro-relleno, .img6-col5:hover .cuadro-relleno, .img1-col6:hover .cuadro-relleno, .img2-col6:hover .cuadro-relleno, .img3-col6:hover .cuadro-relleno, .img4-col6:hover .cuadro-relleno, .img5-col6:hover .cuadro-relleno, .img6-col6:hover .cuadro-relleno, .img1-col7:hover .cuadro-relleno, .img2-col7:hover .cuadro-relleno, .img3-col7:hover .cuadro-relleno, .img4-col7:hover .cuadro-relleno, .img5-col7:hover .cuadro-relleno, .img6-col7:hover .cuadro-relleno{
    display: flex;
}
.lado-up{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}
.lado-bot{
    display: flex;
    justify-content: end;
}
.icon-mg{
    margin: 5px 0 0 15px;
    font-size: 1em;
    cursor: pointer;
}
.mpyg{
    display: flex;
    align-items: center;
    margin: 0 0 0 18px;
}
.btm-guardar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 90px;
    background-color: rgb(230, 0, 35);
    border-radius: 30px;
    margin: 0 15px 0 0;
    cursor: pointer;
}
.btm-guardar:hover{
    background-color: rgb(173, 8, 27);
}
.epc-btm{
    text-decoration: none;
    color: white;
}
/* lado de abajo */
.circulo-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 35px;
    border-radius: 50px;
    background-color: rgb(208, 206, 205);
    color: black;
    margin: 0 12px 16px 0;
    cursor: pointer;
}
.circulo-icon:hover{
    background-color: rgb(240, 240, 240);
}
.size-icon{
    font-size: 1.1em;
}
.main-boxes2{
    grid-area: main-boxes;
    display: none;
    width: 0;
    /* margin-top: 80px;  para dejarla mas abajo */  
    margin-top: 0;
    grid-gap: 0;
    grid-template: none;
}
.main-boxes1{
    grid-area: main-boxes;
    display: none;
    width: 0;
    /* margin-top: 80px;  para dejarla mas abajo */  
    margin-top: 0;
    grid-gap: 0;
    grid-template: none;
}
.barra-cel{
    display: none;
}
.bar-icon{
    display: none;
}
@media only screen and (max-width: 1424px){
    .main-boxes{
        grid-area: none;
        display: none;
        width: 0;
        /* margin-top: 80px;  para dejarla mas abajo */  
        margin-top: 0;
        grid-gap: none;
        grid-template: none;
    }
    .main-boxes1{
        grid-area: main-boxes1;
        display: grid;
        width: 100%;
        /* margin-top: 80px;  para dejarla mas abajo */  
        margin-top: 100px;
        grid-gap: 16px;
        grid-template: "empty-left column-1 column-2 column-3 column-4 column-5 empty-right"/
                        1fr         236px   236px    236px    236px    236px    1fr;
    }
    .column-1{
        grid-area: column-1;
        width: 100%;
        row-gap: 15px;
        display: grid;
        grid-template: "img1-col1"  auto
                        "img2-col1" auto
                        "img3-col1" auto
                        "img4-col1" auto
                        "img5-col1" auto
                        "img6-col1" auto
                        "img1-col6" auto
                        "img2-col6" auto
                        "empty-buttom" 1fr/ 
                        1fr;
    }
    .column-2{
        grid-area: column-2;
        width: 100%;
        row-gap: 15px;
        display: grid;
        grid-template: "img1-col2"  auto
                        "img2-col2" auto
                        "img3-col2" auto
                        "img4-col2" auto
                        "img5-col2" auto
                        "img6-co12" auto
                        "img3-co16" auto
                        "img4-co16" auto
                        "img5-co17" auto
                        "empty-buttom" 1fr/ 
                        1fr;
    }
    .column-3{
        grid-area: column-3;
        width: 100%;
        row-gap: 15px;
        display: grid;
        grid-template: "img1-col3"  auto
                        "img2-col3" auto 
                        "img3-col3" auto 
                        "img4-col3" auto 
                        "img5-col3" auto 
                        "img6-col3" auto
                        "img5-col6" auto
                        "img6-col6" auto
                        "empty-buttom" 1fr/ 
                        1fr;
    }
    .column-4{
        grid-area: column-4;
        width: 100%;
        row-gap: 15px;
        display: grid;
        grid-template: "img1-col4"  auto
                        "img2-col4" auto 
                        "img3-col4" auto 
                        "img4-col4" auto 
                        "img5-col4" auto 
                        "img6-col4" auto
                        "img1-col7" auto
                        "img2-col7" auto
                        "empty-buttom" 1fr/ 
                        1fr;
    }
    .column-5{
        grid-area: column-5;
        width: 100%;
        row-gap: 15px;
        display: grid;
        grid-template: "img1-col5"  auto
                        "img2-col5" auto
                        "img3-col5" auto
                        "img4-col5" auto
                        "img5-col5" auto
                        "img6-col5" auto
                        "img3-col7" auto
                        "img4-col7" auto
                        "img6-col7" auto
                        "empty-buttom" 1fr/  
                        1fr;
    }
    .column-6 .column-7{
        grid-area: none;
        width: 0;
        row-gap: 0;
        display: none;
        grid-template: none;
    }

}
@media only screen and (max-width: 750px){
    .barra-cel{
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        height: 80px;
        width: 100%;
        background-color: white;
        transition: transform .7s ease;
    }
    .direct-word1, .direct-word2{
        font-size: 1.1em;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .direct-word1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: auto;
        border-bottom: 3px solid black;
        margin: 0 15px 0 15px;
    }
    .direct-word2{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        height: 35px;
        width: 120px;
        border-bottom: 3px solid transparent;
        margin: 0 15px 0 10px;
    }
    .direct-word2:hover{
        background-color: rgba(203, 203, 203, 0.349);
    }
    div>a{
        text-decoration: none;
        color: black;        
    }
    /* barra de iconos para el celular */
    .bar-icon{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    .icon-but{
        color: rgb(95, 95, 95);
        font-size: 1.5em;
    }
    /* icono de lista abajo de la imagen para el celular */
    .icon-list{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .icon-puntos{
        font-size: 1.2em;
        margin: 0 8px 0 0;
    }
    .main-boxes{
        grid-area: none;
        display: none;
        width: 0;
        /* margin-top: 80px;  para dejarla mas abajo */  
        margin-top: 0;
        grid-gap: none;
        grid-template: none;
    }
    .main-boxes1{
        grid-area: none;
        display: none;
        width: 0;
        /* margin-top: 80px;  para dejarla mas abajo */  
        margin-top: 0;
        grid-gap: none;
        grid-template: none;
    
    }
    .main-boxes2{
        grid-area: main-boxes;
        display: grid;
        width: 100%;
        /* margin-top: 80px;  para dejarla mas abajo */  
        margin-top: 100px;
        grid-gap: 8px;
        grid-template: "empty-left column-1c column-2c empty-right"/
                        1fr         182px   182px    1fr;
    }
.column-1c{
    grid-area: column-1c;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col1"  auto
                    "img2-col1" auto
                    "img3-col1" auto
                    "img4-col1" auto
                    "img5-col1" auto
                    "img6-col1" auto
                    "img1-col3" auto
                    "img2-col3" auto 
                    "img3-col3" auto 
                    "img4-col3" auto 
                    "img5-col3" auto 
                    "img6-col3" auto
                    "img1-col5" auto
                    "img2-col5" auto
                    "img3-col5" auto
                    "img4-col5" auto
                    "img5-col5" auto
                    "img6-col5" auto
                    "img1-col7" auto
                    "img2-col7" auto
                    "img3-col7" auto
                    "empty-buttom" 1fr/ 
                    1fr;
    
}

.column-2c{
    grid-area: column-2c;
    width: 100%;
    row-gap: 15px;
    display: grid;  
    grid-template: "img1-col2"  auto
                    "img2-col2" auto
                    "img3-col2" auto
                    "img4-col2" auto
                    "img5-col2" auto
                    "img6-co12" auto
                    "img1-col4" auto
                    "img2-col4" auto 
                    "img3-col4" auto 
                    "img4-col4" auto 
                    "img5-col4" auto 
                    "img6-col4" auto
                    "img1-col6" auto
                    "img2-col6" auto
                    "img3-col6" auto
                    "img4-col6" auto
                    "img5-col6" auto
                    "img6-col6" auto
                    "img4-col7" auto
                    "img5-col7" auto
                    "img6-col7" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-1 .column-2 .column-3 .column-4 .column-5 .column-6 .column-7{
    grid-area: none;
    width: 0;
    row-gap: 0;
    display: none;
    grid-template: none;
}
.main-container{
    display: none;
}

    
}