*{
    padding: 0;
    margin: 0;
}
body{
    height: 300vh;
}

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: 80px;
    box-shadow: black 0 -10px 15px 0;
    /* 
    primer valor: desplaza hacia la derecha
    segundo valor: hacia abajo
    tercer valor: difuminado
    cuarto valor: expancion
     */
}
.menu-opciones{
    display: flex;
    align-items: center;
    padding: 0 30px;
}
button{
    margin: 0 15px;
    font-size: 1em;
}
.inicio-btn{
    width: 80px;
    height: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: 600;
}
.explorar-btn{
    border: none;
    background-color: transparent;
    font-weight: 600;
}
.crear-btn{
    border: none;
    background-color: transparent;
    font-weight: 600;
}
.barra-busqueda{
    display: flex;
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
}
input{
    width: 100%;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: rgb(233,233,233);
    font-size: 1em;
}
.icono-lupa{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 45px;
    background-color: rgb(233,233,233);
    border-radius: 25px 0 0 25px;
}
.icono-lupa:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 25px 0 0 25px;
}
.icon-container{
    margin: 0 15px;
    color: rgb(95, 95, 95);
}
.icon-container-2{
    margin: 0 20px 0 5px;
}
.icon-row{
    font-size: 15px;
}
.icons{
    display: flex;
    align-items: center;
}
i{
    font-size: 25px;
}
.icono-loup{
    font-size: 18px;
}


div>img{
    border-radius: 17px;
}

.main-boxes{
    grid-area: main-boxes;
    display: grid;
    width: 100%;
    /* margin-top: 80px;  para dejarla mas abajo */  
    margin-top: 100px;
    grid-gap: 20px;
    grid-template: "empty-left column-1 column-2 column-3 column-4 column-5 column-6 column-7 empty-right" /
                    1fr         236px   236px     236px   236px    236px    236px    236px    1fr;

}
.column-1{
    grid-area: column-1;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col1"  auto
                    "img2-col1" auto
                    "img3-col1" auto
                    "img4-col1" auto
                    "img5-col1" auto
                    "img6-col1" auto 
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-2{
    grid-area: column-2;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col2"  auto
                    "img2-col2" auto
                    "img3-col2" auto
                    "img4-col2" auto
                    "img5-col2" auto
                    "img6-co12" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-3{
    grid-area: column-3;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col3"  auto
                    "img2-col3" auto 
                    "img3-col3" auto 
                    "img4-col3" auto 
                    "img5-col3" auto 
                    "img6-col3" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-4{
    grid-area: column-4;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col4"  auto
                    "img2-col4" auto 
                    "img3-col4" auto 
                    "img4-col4" auto 
                    "img5-col4" auto 
                    "img6-col4" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-5{
    grid-area: column-5;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col5"  auto
                    "img2-col5" auto
                    "img3-col5" auto
                    "img4-col5" auto
                    "img5-col5" auto
                    "img6-col5" auto
                    "empty-buttom" 1fr/  
                    1fr;
}
.column-6{
    grid-area: column-6;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col6"  auto
                    "img2-col6" auto
                    "img3-col6" auto
                    "img4-col6" auto
                    "img5-col6" auto
                    "img6-col6" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-7{
    grid-area: column-7;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col7"  auto
                    "img2-col7" auto
                    "img3-col7" auto
                    "img4-col7" auto
                    "img5-col7" auto
                    "img6-col7" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.main-boxes2{
    
}
.nav-menu{
    margin-top: 0;
}
.main-boxes2{
    grid-area: main-boxes;
    display: none;
    width: 0;
    /* margin-top: 80px;  para dejarla mas abajo */  
    margin-top: 0;
    grid-gap: 0;
    grid-template: none;
}
@media only screen and (max-width: 1024px){
    .main-boxes{
        grid-area: none;
        display: none;
        width: 0;
        /* margin-top: 80px;  para dejarla mas abajo */  
        margin-top: 0;
        grid-gap: none;
        grid-template: none;
    
    }
    .main-boxes2{
        grid-area: main-boxes;
        display: grid;
        width: 100%;
        /* margin-top: 80px;  para dejarla mas abajo */  
        margin-top: 100px;
        grid-gap: 8px;
        grid-template: "empty-left column-1c column-2c empty-right"/
                        1fr         182px   182px    1fr;
    }
.column-1c{
    grid-area: column-1c;
    width: 100%;
    row-gap: 15px;
    display: grid;
    grid-template: "img1-col1"  auto
                    "img2-col1" auto
                    "img3-col1" auto
                    "img4-col1" auto
                    "img5-col1" auto
                    "img6-col1" auto
                    "img1-col3" auto
                    "img2-col3" auto 
                    "img3-col3" auto 
                    "img4-col3" auto 
                    "img5-col3" auto 
                    "img6-col3" auto
                    "img1-col5" auto
                    "img2-col5" auto
                    "img3-col5" auto
                    "img4-col5" auto
                    "img5-col5" auto
                    "img6-col5" auto
                    "empty-buttom" 1fr/ 
                    1fr;
    
}

.column-2c{
    grid-area: column-2c;
    width: 100%;
    row-gap: 15px;
    display: grid;  
    grid-template: "img1-col2"  auto
                    "img2-col2" auto
                    "img3-col2" auto
                    "img4-col2" auto
                    "img5-col2" auto
                    "img6-co12" auto
                    "img1-col4" auto
                    "img2-col4" auto 
                    "img3-col4" auto 
                    "img4-col4" auto 
                    "img5-col4" auto 
                    "img6-col4" auto
                    "img1-col6" auto
                    "img2-col6" auto
                    "img3-col6" auto
                    "img4-col6" auto
                    "img5-col6" auto
                    "img6-col6" auto
                    "empty-buttom" 1fr/ 
                    1fr;
}
.column-1 .column-2 .column-3 .column-4 .column-5 .column-6 .column-7{
    grid-area: none;
    width: 0;
    row-gap: 0;
    display: none;
    grid-template: none;
}

    
}