*{
    margin: 0;
    padding: 0;
}
/* Contenedor principal */
.contenedor{
    display: flex;
    height: 100vh;
}
/* Contenedores hijos, separados */
.side1{
    width: 50%;
    height: 100%;
    background-color: rgb(238, 238, 238);
}
.side2{
    flex-grow: 1;  /* funciona para rellenar el espacio restante */
    height: 100%;
    background-color: rgb(0, 0, 0);
}
/* Simbolo */
.simbolo{
    display: flex;
    justify-content: center;
    width: 100px;
    padding-top: 18px;
}
/* Redireccionadores */
.list-co{
    display: flex;
    justify-content: end;
    align-items: center;
    width: auto;
    height: 70px;
    font-size: 20px;
}
.item{
    margin-right: 25px;
    list-style: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item:hover{
    color: blueviolet;
}
a{
    text-decoration: none;
}
/* Imagen central */
.img-center{
    position: absolute;
}
.img-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Apartdado de imagen y texto */
.minicon{
    position: fixed;
    float: left;
    margin: 10% 0px 0px 0px;
    height: auto;
    width: auto;
    box-shadow: 0px 0px 8px 0px black;
    padding: 15px;
    border-radius: 0px 30px 30px 0px;
}
.img-g{
    border-radius: 50%;
    padding-bottom: 15px;
}
.img-g:hover{
    scale: 1.01;
    cursor: pointer;
}
.cont-g{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    border-top: 1px solid rgb(102, 102, 102);
}
center p{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.word1{
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.4);
}
.box-hide{
    position: absolute;
    background-color: rgba(0, 0, 0);
    color: white;
    width: 306px;
    height: 446px;
    font-size: 20px;
    left: 0px;
    top: 0px;
    display: none;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
}
.intro{
    padding: 25px;
}
/* barra de iconos */
.cont-icon{
    display: flex;
    justify-content: end;
    align-items: center;
}
.barra-icon{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    width: auto;
    height: auto;
}
.icon1{
    font-size: 30px;
    color: white;
    margin: 8px 10px;
    cursor: pointer;
}
.icon1:hover{
    color: blueviolet;
    scale: 1.1;
}