body{
    margin: 0%;
    padding: 0%;
    background-image: url(https://i.pinimg.com/originals/58/2d/96/582d96a1df2d94bb439af1594639ccfe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  .navegador{
    background-color: #000000;
    height: 3.8rem;
    width: 100%;
    border-bottom: 5px solid gray;
    display: flex;
    justify-content: left;
    position: fixed;
    z-index: 3;
  }
  .navegador__lista{
    height: auto;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style: none;
    font-family: 'Anton', sans-serif;
  }
  .navegador__lista__item:hover{
    border-bottom: 1px solid #ffff;
  }
  .tit{
    color: rgb(255, 255, 255);
  }
  .banner{
    width: 100%;
    height: calc(26.7rem - 3.8rem);
    border-bottom: 5px solid grey;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
  }
  .box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cuadro{
    color: rgb(255, 0, 0);
    background-size: cover;
    margin: 10px;
    width: 250px;
    height: 200px;
    text-align: center;
    transition: transform 0.5s ease;
    position: relative;
    display: inline-block;
  }
  .cuadro:hover{
    transform: scale(1.1);
  }
  .cuadro1{
    list-style: none;
    background-color: rgba(192, 192, 192, 0.603);
    width: 210px;
    height: 65px;
    margin-top: 73px;
    text-align: left;
    padding-top: 5px;
  }
  .pro{
    text-decoration: none;
    color: rgb(255, 5, 5);
  }
  .lista{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    transition: transform 0.5s ease-in-out;
  }
  .lista:hover{
    transform: translateX(3px);
  }
  .titulo{
    font-size: 20px;
    padding-left: 30px;
    font-family: 'Anton', sans-serif;
    color: white;
  }
  .text1{
    font-size: 19px;
    padding-left: 30px;
    font-family: 'Anton', sans-serif;
    color: white;
  }
  .text2{
    font-size: 19px;
    list-style: none;
  }
  .ab{
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(14, 91, 235);
    font-size: 27px;
    z-index: 1;
    font-family: 'Anton', sans-serif;
  }
  .cuadros{
    position: relative;
    display: inline-block;
  }
  .wave {
    position: relative;
    display: inline-block;
    }
    
    .wave span {
    position: absolute;
    display: inline-block;
    transform: translateY(0);
    animation: wave 1.5s ease-in-out infinite;
    }
    
    @keyframes wave {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }
    
    .wave span:nth-child(1) {
      animation-delay: 0s;
    }
    
    .wave span:nth-child(2) {
      animation-delay: 0.1s;
    }
    
    .wave span:nth-child(3) {
      animation-delay: 0.2s;
    }
    
    .wave span:nth-child(4) {
      animation-delay: 0.3s;
    }
    .snor{
      height: 80px;
    }