/*estilo utilizando elementos h1*/
h1 {
    /*propiedades*/
    text-align: center;
}
/*selector de clase*/
.fuente-especial{
    color: chartreuse;
}
p.fuente-especial{
    color: aqua;
}
li.fuente-especial{
    color: rgb(255, 0, 0);
}